.BMgalaxy{
    /* background: linear-gradient(to right, #1b1821fd , #0c011a);
    background-image:
    radial-gradient(
        #1b1821fd ,
        #0c011a
    ); */
    background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    transition: .5s;
    background-position: center;
    background-size: cover;
    height: auto;
    /* padding-bottom: 8rem; */
    overflow: hidden;
    max-width: 100%;
    
    position: absolute;
    z-index: -1;
    margin-top: 46px;
}




.galaxy_box_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    /* border: 2px solid white; */
    margin: 0 auto;
    align-items: center;
    margin-top: 1rem;
    
}

.galaxy_box_1 .box_1{
    width: 45%;
    height: auto;
    /* border: 2px solid white; */
    text-align: center;
    /* margin-left: 3rem; */
}

.galaxy_box_1 .box_2{
    color: white;
    width: 60%;
    margin-left: 3rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    line-height: 35px;
}

.line{
    width: 60%;
    margin: 2rem auto;
    opacity: 0.6;
    text-align: center;
}
.line img{
    width: 100%;

}

.galaxy_text{
    /* border: 2px solid white; */
    color: white;
    width: 65%;
    font-size: 1.1rem;
    padding: 1rem 3rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    letter-spacing: 2px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    line-height: 40px;
}

.galaxy_text_2{
    color: white;
    text-align: center;
    margin: 2rem auto;
    margin-top: 3.5rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    /* margin-top: 6rem; */
}
.sun{
    width: 60%;
    margin: 6rem auto;
    /* opacity: 0.7; */
}
.sun img{
    width: 100%;
}

.sunVideo{
    width: 60%;
    margin: 6rem auto;
    /* height: 200px; */
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.sunVideo video{
    width: 100%;
    /* margin-top: -10rem; */
}

.step_img{
    margin: 0 auto;
    width: 100%;
    margin-top: -2rem;
    margin-bottom: -1rem;
}
.step_img img{
    width: 100%;
}

.lightText{
    background-image: url(./images/light.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 5rem;
    /* background:#302f5c6b;   */
}
.lightText h2{
    line-height: 50px;
    letter-spacing: 4px;
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;

}
.lightText span{
    color: rgb(255, 98, 0);
    font-weight: 700;
}



.lightText img{
    width: 100%;
    /* border: 10px solid rgba(255, 255, 255, 0); */
    /* z-index: 999; */
    opacity: 0.7;
}


.galaxy_box_2{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    /* border: 2px solid white; */
    margin: 0 auto;
    align-items: center;
    margin-top: 6rem;
}

.galaxy_box_2 .box_1{
    width: 40%;
}

.galaxy_box_2 .box_2{
    width: 40%;
}
.galaxy_box_2 .box_1 img{
    width: 100%;
}

.galaxy_box_2 .box_2 img{
    width: 100%;
}

.galaxy_text_box_1{
    /* font-size: 0.9rem; */
    width: 60%;
    margin-top: 6rem;
    margin-left: 9rem;
}

.galaxy_text_box_2{
    width: 60%;
    margin-top: 3rem;
    margin-left: 28%;
    margin-bottom: 6rem;
}


.galaxy_text_box_3{
    width: 65%;
    margin: 0 auto;
    /* margin-top: 6rem; */
    /* margin-left: 3rem; */
    
}


.galaxy_last_text{
    color: white;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem ;
    /* border: 2px solid white; */
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 40px;
    margin-bottom: 5rem;
}



.step_div_1{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 7rem;
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;

}

.step_div_1_para{
    border: 2px solid rgba(255, 255, 255, 0.367);
    padding: 0rem 2rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.173);
    width: 45%;
    margin-top: 4rem;
    line-height: 25px;
}


.step_1_line_img{
    width: 30%;
    margin-top: 5rem;
    z-index: 10;
}

.step_1_line_img img{
    width: 100%;
}




.step_1_video{
    width: 30%;
    /* margin-top: -15rem; */
    position: absolute;
    top: 0%;
    right: 3%;
    z-index: 1;
    
}
.step_1_video video{
    width: 90%;
    border-radius: 50%;
    transform: scale(2);
    /* background-blend-mode: overlay; */
    filter: brightness(200%);
    background: radial-gradient(rgba(0, 0, 0, 0.684) rgba(0, 0, 0, 0.574));

}


.step_div_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}


.step_2_video{
    width: 30%;
    position: absolute;
    left:7%;
    top: 40%;

    z-index: 1;

}

.step_2_video video{
    border-radius: 50%;
    width: 90%;
    transform: scale(2);
    filter: brightness(200%);
}
.special_div{
    width: 20%;
}

.step_2_line_img{
    width: 60%;
    z-index: 10;
}

.step_2_line_img img{
    width: 100%;
    opacity: 0.75;
}

.step_div_2_para{
    border: 2px solid rgba(255, 255, 255, 0.349);
    background-color: rgba(255, 255, 255, 0.179);
    position: absolute;
    right: 13%;
    top: -9%;
    width: 40%;
    padding: 0 1rem;
    border-radius: 20px;
}


.step_down_para{
    width: 40%;
    text-align: center;
    letter-spacing: 4px;
    margin: 0 auto;
    color: white;
    margin-right: 7rem;
    padding: 0 1rem ;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.192);
    border: 2px solid rgba(255, 255, 255, 0.337);
}

.orange{
    color: rgb(255, 98, 0);
}



@media screen and (max-width: 1020px){
    .galaxy_box_1{
        width: 85%;
    }

    .galaxy_box_1 .box_2{
        font-size: 1rem;
        
        line-height: 30px;
    }
    .galaxy_text{
        width: 75%;
        line-height: 35px;
    }

    .sunVideo{
        width: 75%;

    }

    .step_div_1{
        width: 85%;
    }
    .step_div_1_para{
        width: 50%;
        font-size: 0.8rem;
    }
    .step_1_line_img{
        width: 27%;
        margin-top: 3rem;
        z-index: 10;
    }

    .step_div_2_para{
        right: 4%;
        top: -12%;
        width: 47%;
        font-size: 0.8rem;
    }
    .step_down_para{
        width: 50%;
        font-size: 0.8rem;
        margin-right: 3rem;
       
    }

    .galaxy_box_2{
        width:85% ;
    }
    .galaxy_text_box_1{
        /* font-size: 0.9rem; */
        width: 70%;
        margin-top: 6rem;
        margin-left: 5rem;
    }
    
    .galaxy_text_box_2{
        width: 70%;
        margin-top: 3rem;
        margin-left: 25%;
        margin-bottom: 6rem;
    }

    .sun{
        width: 75%;
    }

    
.galaxy_text_box_3{
    width: 70%;
    margin: 0 auto;
    /* margin-top: 6rem; */
    /* margin-left: 3rem; */
    
}
.galaxy_last_text{
    width: 75%;
    font-size: 1.4rem;
}
.lightText h2{
    font-size: 1.5rem;
    line-height: 35px;

}

}


@media screen and (max-width: 850px){
   
    .galaxy_box_1{
        width: 90%;
        margin-top: 4rem;
    }

    .galaxy_text{
        width: 90%;
        line-height: 30px;
        font-size: 1rem;
    }

    .galaxy_text_2{
        width: 90%;
        padding: 0%;
        font-size: 1.5rem;
    }

    .sunVideo{
        width: 85%;
        margin: 4rem auto;
    }


    .step_div_1{
        width: 95%;
        margin-top: 4rem;
    }
    .step_1_video{
        right: -1%;
       
        
    }

    .step_div_2{
        width: 95%;
        margin-top: 1.5rem;
    }
   
    .step_down_para{
        width: 60%;
        font-size: 0.7rem;
        margin-right: 2rem;
       

    }

    .galaxy_box_2{
        width: 90%;
        margin-top: 4rem;
    }

    .galaxy_text_box_1{
        /* font-size: 0.9rem; */
        width: 80%;
        margin-top: 4rem;
        margin-left: 2rem;
    }
    
    .galaxy_text_box_2{
        width: 80%;
        margin-top: 3rem;
        margin-left: 17%;
        margin-bottom: 4rem;
    }

    .sun{
        width: 85%;
        margin: 4rem auto;
    }

        
.galaxy_text_box_3{
    width: 85%;
    margin: 0 auto;
    /* margin-top: 6rem; */
    /* margin-left: 3rem; */
    
}
.galaxy_last_text{
    width: 90%;
    margin: 4rem auto;
    font-size: 1.2rem;
}
.line{
    width: 80%;
}
.lightText h2{
    font-size: 1.3rem;
    line-height: 35px;

}

}



@media screen and (max-width: 700px){

    .BMgalaxy{
        margin-top: 60px;
    }
   
    .galaxy_box_1{
        width: 90%;
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .galaxy_box_1 .box_1{
        width: 60%;
        /* margin: 0 auto; */
    }
    .galaxy_box_1 .box_2{
        width: 80%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.052);
        padding: 1rem 2rem;
        border-radius: 30px;
    }

    .galaxy_text{
        padding: 0;
        font-size: 0.9rem;
    }

    .galaxy_text_2{
        /* margin-bottom: 10%; */
        font-size: 1.3rem;
        margin-top: 6rem;
    }

    .sunVideo{
        width: 90%;
        margin: 1rem auto;
        margin-bottom: 4rem;
    }


    .step_div_1{
        width: 90%;
        margin-top: 4rem;
    }

    .step_div_1_para{
        width: 25%;
    } 

    .step_1_line_img{
        width: 50%;
        margin-top: 6rem;
    }
    .step_1_video{
        width: 30%;
        right: -1%;
        top: 10%;
       
        
    }

    .step_div_2{
        width: 95%;
        margin-top: 1.5rem;
    }
   
    .step_down_para{
        width: 50%;
        font-size: 0.7rem;
        margin-right: 2rem;
       

    }

    .galaxy_box_2{
        width: 95%;
        flex-direction: column;
        margin-top: 4rem;
    }

    .galaxy_box_2 .box_1{
        width: 90%;
        margin: 0 auto;

    }


    .galaxy_box_2 .box_2{
        width: 80%;
        margin: 0 auto;
        /* text-align: right; */
    }


    .galaxy_text_box_1{
        /* font-size: 0.9rem; */
        width: 90%;
        margin: 0 auto;
        margin-top: 4rem;
        /* margin-left: 2rem; */
    }
    
    .galaxy_text_box_2{
        width: 90%;
        margin: 3rem auto;
        margin-top: 3rem;

    }

    .sun{
        width: 90%;
        margin: 3rem auto;
    }

        
.galaxy_text_box_3{
    width: 90%;
    margin: 0 auto;
    /* margin-top: 6rem; */
    /* margin-left: 3rem; */
    
}
.galaxy_last_text{
    width: 90%;
    margin: 3rem auto;
    font-size: 1.1rem;
}
.line{
    width: 80%;
}

.lightText h2{
    font-size: 1rem;
    width: 90%;
    letter-spacing: 2px;
    margin: 0 auto;
    line-height: 30px;

}
}