

.active {
  border: 2px solid #1db9b9;
  transform: scale(1.1);
  transition: all 300ms;
}



.slideshow {
  position: relative;
  width: 90%;
  /* height: 9px; */
  border-radius: 20px;
  margin:  1rem auto;
  /* border: 2px solid white; */
}

.mainImg {
  transition: all 500ms;
  width: 100%;
  border-radius: 20px;
  opacity: 1;
  transition: none;
  transform: translate3d(0,0,0) !important;
}


.actions {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.actions button {
  background: #0000003d;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px;
  padding-top: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
}

.actions button:active {
  background: #000000a2;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px;
  padding-top: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
}