.collab{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.main_collab{
    display:flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid white; */
    justify-content: space-around;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;

}

.collab h1{
    font-size: 5rem;
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 6rem;
    padding: 0.7rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.849);
    text-transform: uppercase;

    letter-spacing: 7px;
}

.collab_div1{
    width: 50%;
}

.radio_div{
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.radio_div div{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
.radio_div  input[type=radio] {
    border: 0px;
    /* width: 60%; */
    /* height:  2rem; */
    transform: scale(2);
    margin-right: 0.7rem;
}

.input_divc{
    display: flex;
    flex-direction: column;
}
.input_divc  input{
    width: 80%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
}
.input_divc  input:focus{
    outline: none !important;
    padding: 1.1rem;
    /* border-color: rgba(255, 255, 255, 0.953); */
    /* box-shadow: 0 0 10px #719ECE; */
    /* box-shadow: 0 0 10px #719ECE; */
    width: 80%;

}

.collab_div2{

     width: 45%;
    border: 2px solid white;
    color: white;
    position: relative;
    padding: 2rem 1rem;
    padding-bottom: 0rem;
    border-radius: 30%;
    text-align: center;
    overflow: hidden;
}
.collab_div2 h3{
    font-size: 2rem;
}

.collab_div2 textarea{
    background-color: transparent;
    width: 100%;
    margin: 3rem auto;
    border: 1px transparent;
    color: white;
    font-size: 1rem;
}
.collab_div2 textarea:focus{
 /* border: 1px solid white; */
 outline: none !important;
    
}



.collab_div2 input[type=submit]{
    width: 100%;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}




@media screen and (max-width:1050px) {
    .main_collab{
        width: 80%;
        flex-direction: column;
    }

    .collab_div1 ,.collab_div2{
        width: 90%;
        margin: 0 auto;
        
    }

    .collab_div2{
        margin-top: 3rem;
    }

    .input_divc input{
        width: 100%;
    }

    .collab_div2 textarea{
        height: 200px;
    }

    .radio_div{
        font-size: 1.3rem;
    }

    .collab h1{
        font-size: 2.5rem;
    }
    
}