.Nav_links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    /* background-color: green; */
    /* flex-wrap: wrap; */
    border-bottom: 2px solid rgba(255, 255, 255, 0.437);


}

.Nav_links a{
    text-decoration: none;
    color: white;

    font-family: 'Rajdhani', sans-serif;
    margin: 0.8rem  auto;
    font-weight: 600;
    padding: 0.4rem 1rem;
    /* font-size: 0.8rem; */
    border: 2px solid rgba(255, 255, 255, 0.533);
    letter-spacing: 2px;
    border-radius: 15px;
    font-size: 1rem;
    background: linear-gradient(rgba(255, 255, 255, 0.101) , rgba(255, 255, 255, 0.211));


}

@media screen and (max-width:1020px){
    .Nav_links{
        width: 90%;
        

    }
    .Nav_links a{
        font-size: 0.8rem;
    }
    
}


@media screen and (max-width: 850px) {
    
   .Nav_links a{
    font-size: 0.6rem;
    padding: 0.4rem 0.7rem;
   }

  }


  @media screen and (max-width: 650px) {
    
    .Nav_links a{
     font-size: 0.5rem;
     margin: 1rem auto;
    }
 
   }