.BMjewel{
    background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    transition: .5s;
    background-position: center;
    background-size: cover;
    height: auto;
    /* padding-bottom: 5rem; */
    overflow: hidden;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 58px;
}


.snak_img{
    width: 65%;
    /* height: 10px; */
    margin: 0 auto;

}

.snak_img img{
    width: 100%;
}


.jewel_text{
    color: white;
    width: 79%;
    margin: 3rem auto;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    

}

.jewel_para{
    color: white;
    width: 65%;
    margin: 2rem auto;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 40px;
    letter-spacing: 2px;
}

.para_shade{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    /* border: 1px solid white; */
    border-radius: 20px;
    padding:  0.5rem 1rem;

    background-color: rgba(255, 255, 255, 0.029);

}

.jewel_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 70%;
    /* border: 2px solid white; */
    margin: 7rem auto;
}


.jewel_box_1{
    width: 45%;
    text-align: left;
    border: 1px solid rgba(30, 29, 29, 0.39);
    height: 300px;
    border-radius: 30px;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.281)
}



.jewel_box_1 .Crousel{
    width: 100%;
    /* height: 500px; */
    height: 200px;
    /* border: 3px solid white; */
    
}


.jewel_box_1 h1{
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 1rem 0.3rem;
    letter-spacing: 3px;
}

.jewel_box_2{
    width: 55%;
    text-align: left;
    margin-left: -4rem;
}

.jewel_box_2 img{
    width: 100%;
    margin-top: 8rem;
    
    /* margin-left: -10rem; */
}


.snake_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    /* margin: 0 auto; */
    /* margin-top: -25rem; */
}

.snake_img{
    width: 50%;
    margin-left: -7rem;
   
}

.snake_img img{
    width: 100%;
    /* height: 100rem; */
    /* margin-left: -35rem; */
}

.snake_text{
    color:white;
    /* border: 2px solid white; */
    width: 60%;
    background-color: rgba(255, 255, 255, 0.041);
    margin-right: 1rem;
    border-radius: 30px;
}
.snake_text p{
    width: 70%;
    /* text-align: center; */
    margin: 2rem auto;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 2px;
}



.jewels_img{
    width: 60%;
    /* border: solid 2px white; */
    margin: 0 auto;
    margin-top: -8rem;
    margin-left: 35%;
    /* box-shadow: 5px 10px #888888;; */
}

.jewels_img img{
    width: 80%;
}

.jewel_last_text{
    color: white;
    width: 70%;
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 6rem;
}



@media screen and (max-width:1020px) {
    
  .snak_img{
    width: 80%;
  }
  .jewel_text{
    width: 80%;
    font-size: 1.4rem;
  }   

  .jewel_para{
    width: 80%;
    font-size: 1rem;
  }
  .jewel_box{
    width: 80%;
    margin: 3rem auto;
  }

  .snake_box{
    width: 95%;
    margin:  0 auto;
    /* margin: 0 auto; */
    /* margin-top: -25rem; */
}

.snake_img{
    width: 50%;
    /* margin-left: -7rem; */
   
}

.snake_text{

    width: 70%;
   
}
.snake_text p{
    width: 90%;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.jewels_img{
    width: 70%;
 ;
    margin-top: -5rem;
    margin-left: 39%;
}

.jewel_last_text{
   font-size: 1rem;
    width: 80%;
    
}

}




@media screen and (max-width:850px) {
    
    .snak_img{
      width: 90%;
    }
    .jewel_text{
      width: 90%;
      font-size: 1.3rem;
    }   
  
    .jewel_para{
      width: 90%;
      font-size: 0.9rem;
      margin: 5rem auto;
    }
    .jewel_box{
      width: 90%;
      /* margin: 3rem auto; */
    }
    .jewel_box_2{
        width: 55%;
        text-align: left;
        margin-left: 0rem;
    }
    

  
    .snake_box{
      width: 95%;
      margin:  0 auto;
      /* margin: 0 auto; */
      /* margin-top: -25rem; */
  }
  
  .snake_img{
      width: 50%;
      /* margin-left: -7rem; */
     
  }
  
  .snake_text{
  
      width: 75%;
     
  }
  .snake_text p{
      width: 90%;
  }
  
  .jewels_img{
      margin-top: -2rem;
  }
  
  .jewel_last_text{
      width: 85%;
      
  }
  
  }




  

@media screen and (max-width:700px) {

    .BMjewel{
        margin-top: 60px;
    }
    
   
     
  
    
    .jewel_box{
      width: 90%;
      /* margin: 3rem auto; */
      flex-direction: column-reverse;
      margin-top: 1rem;
    }

     .jewel_box_2{
        width: 70%;
        margin: 0 auto;
     }
     .jewel_box_2 img{
        margin: 0 auto;
     }

    .jewel_box_1{
        width: 90%;
        margin: 0 auto;
    }
    
    .jewel_para{
        margin: 4rem auto;
    }

  

  
  
  
  
  .jewels_img{
    margin: 0 auto;
    width: 70%;
      margin-top: 2rem;
  }
  .jewels_img img{
    width: 100%;
  }
  
  .jewel_last_text{
      width: 90%;
      font-size: 0.9rem;
      
  }
  
  }

