

.active {
    border: 2px solid #1db9b9;
    transform: scale(1.1);
    transition: all 3000000ms;
  
  }
  
  
  
  .slideshowjewl {
    position: relative;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    margin:  1rem auto;
    /* border: 2px solid white; */
  }
  
  .mainImgjewl {
    /* transition: all 50000ms; */
    width: 100%;
    height: 90%;
    /* border-radius: 20px; */
  }
  
  
  .actionsjewl {
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .actionsjewl button {
    background: #0000003d;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }
  
  .actionsjewl button:active {
    background: #000000a2;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }