.MainText{
    font-size: 2rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}


@media screen and (max-width:850px) {
    .MainText{
        font-size: 2.2rem;
        margin: 2rem auto;
    }
    
}


@media screen and (max-width:600px) {
    .MainText{
        font-size: 1.5rem;
        margin: 1.5rem auto;
    }
    
}

