#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 100px;
    left: 30px;
    width: 26px;
    height: 26px;
   
    cursor: pointer;
    z-index: 100;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    /* background-attachment: scroll; */
    /* display: block; */
    position: fixed;
    top: 3px;
    overflow-y: visible;
    overflow-x: visible;
    /* padding-top: 100rem; */
    left: -100%;
    width: 300px;
    height: 100%;
    /* margin: 0; */
    /* padding: 80px 0; */
    background-color: rgba(0, 0, 0, 0.941);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* overflow-wrap: normal; */
    z-index: 60;
    display: flex;
    color: white;

    /* overflow-y: scroll; */
   


    border-right: 3px solid  rgba(204, 0, 255, 0.545);
  }

  .menu_1{
    
    z-index: 70;
     padding: 10rem auto;
    /* min-height: 100%; */
    /* position: fixed; */
    height: 90;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* overflow-wrap: normal; */
    /* z-index: 80; */
    /* overflow-y: scroll; */
    /* overflow: auto; */
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */

  }


  
  

  .menu__box .open_sea{
    padding: 1rem 0.5rem;
    border-radius: 20px;
    border: 3px solid  rgba(204, 0, 255, 0.381);
    text-align: center;
    width: 50%;
    margin-bottom: 1.5rem;
  }

  .menu__box .open_sea img{
    width: 50%;
    border-radius: 50%;

  }

  .menu__box .discord img{
    width: 50%;
    border-radius: 50%;
    
  }

  
  .menu__box .discord{
    padding: 1rem 0.5rem;
    border-radius: 20px;
    border: 3px solid  rgba(204, 0, 255, 0.381);
    text-align: center;
    width: 50%;
  }

  .menu_1 h2{
    margin: 0.2rem ;
    font-size: 1rem;
    text-align: center;
  }

  .menu__box .menu_links{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    /* border: 2px solid black; */
    text-align: center;
  }
  .menu__box .menu_links a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
    transition: all ease-in 0.2s;
  }


  .menu_social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
  }
  .menu_social img{
    width: 40%;

  }


  .menu__box .menu_links a:hover{
    text-decoration: none;
    color:  rgba(176, 109, 195, 0.933);
    /* width: auto; */
    /* border-bottom: 1px solid purple; */
    
  }