.BMgame{
    background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    transition: .5s;
    background-position: center;
    background-size: cover;
    height: auto;
    /* padding-bottom: 5rem; */
    overflow: hidden;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 59px;
}


.game_text_1{
    color: white;
    text-align: center;
    margin-top: -2.5rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 450;
    letter-spacing: 5px;
}


.game_box_1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 75%;
    /* border: 2px solid white; */
    margin: 0 auto;
    align-items: center;
    margin-top: 2rem;
    
}


.game_box_1 .box_1{
    width: 40%;
}

.game_box_1 .box_2{
    width: 50%;
}



.game_box_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    /* border: 2px solid white; */
    margin: 0 auto;
    /* padding: 3rem; */
    box-sizing: border-box;
    align-items: center;
    margin-top: 8rem;
    /* border: 1px solid white; */
    border-radius: 140px;
    background: linear-gradient(rgba(255, 255, 255, 0.074) , rgba(255, 255, 255, 0.025));
    
}


.game_box_2 .box_1{
    width: 40%;
    padding: 2rem;
}
.game_box_2 .box_1 img{
    width: 70%;
}

.game_box_2 .box_2{
    width: 60%;
    padding: 2rem;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 40px;
}
.game_box_2 .box_2 h4{
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 auto;
}


.abstract{
    /* border: 2px solid white; */
    width: 55%;
    /* margin: 0 auto; */
    text-align: center;
    margin: 5rem auto;
}

.abstract img{
    width: 80%;
}


.game_text_2{
    color: white;
    /* border: 2px solid white; */
    width: 58%;
    /* padding:  1rem 3rem; */
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 100;
    letter-spacing: 3.1px;
    line-height: 40px;
    font-size: 22.3px;
    text-align: justify;

}


.cons{
    width: 70%;
    /* border: 2px solid white; */
    margin: 0 auto;
}

.cons img{
    width: 100%;
}

.game_text_3{
    color: white;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.game_text_4{
    width: 65%;
    margin: 0 auto;
    margin-top: 6rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}
.game_text_4 .para_style{
padding: 2rem;
}


@media screen and (max-width: 1020px) {

    .para_style{
        font-size: 0.8rem;
    }
  
    .game_text_1{
        font-size: 1.3rem;
        width: 90%;
        margin: 0 auto;
    }
    .game_box_1{
        width: 95%;
        /* text-align: center; */

    }
    .game_box_1 .box_text{
        font-size: 1.4rem;
        padding: 0 1rem ;
        margin-bottom: 0px;
    }

    .game_box_1 .box_1{
        width: 45%;
        margin-top: 1rem;
    }
    .game_box_1 .box_1 img{
        width: 100%;
    
    }


    .game_box_2{
        width: 90%;
    }
    .game_box_2 .box_2 h4{
        font-size: 1rem;
    }
    .game_box_2 .box_2 p{
        font-size: 0.8rem;
    }

    .game_text_2{
        width: 80%;
       


    }

    .game_text_3{
        width: 75%;
        font-size: 2rem;
        margin-top: 2rem;

    }

    .game_text_4{
        width: 75%;
        margin-top: 4rem;
    }
}




@media screen and (max-width: 850px){
   
    .game_text_1{
        font-size: 1.3rem;
    }



    .game_box_1{
        width: 90%;
        justify-content: space-between;
        margin-top: 4rem;

    }

    .game_box_1 .box_1{
        width: 40%;
    }
    
    .game_box_1 .box_2{
        width: 50%;
    }
    
    .game_box_2{
        width: 95%;
        margin: 4.5rem auto;
    }

    .game_box_2 .box_2 h4{
        font-size: 1.1rem;
    }
    .game_box_2 .box_2 p{
        font-size: 0.9rem;
    }

    .para_style{
        font-size: 0.85rem;
    }
    .abstract{
        width: 80%;
        margin: 5rem auto;
    }

    .game_text_2{
        width: 85%;
        font-size: 0.9rem;

    }

    .cons{
        width: 90%;
        margin: 3rem auto;

    }

    .game_text_3{
        width: 90%;
        font-size: 1.5rem;
    }

    .game_text_4{
        width: 90%;
        margin-top: 2rem;
    }


}



@media screen and (max-width: 700px){

    .BMgame{
        margin-top: 60px;
    }
   
    .game_text_1{
        font-size: 1.1rem;
    }



    .game_box_1{
        flex-direction: column;
        width: 95%;
        margin-top: 4rem;

    }
    .game_box_1 .box_1{
        width: 60%;
        margin: 0 auto;
    }
    
    .game_box_1 .box_2{
        width: 90%;
    }
    
    .game_box_1 .box_2 p{
        font-size: 0.9rem;
        padding: 1rem 2rem;
    }


    .game_box_2{
        width: 95%;
        flex-direction: column;
        margin: 4.5rem auto;
        border-radius: 60px;
    }

    .game_box_2 .box_1{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    .game_box_2 .box_2{
        width: 80%;
        margin-top: -2rem;
    }

    .game_box_2 .box_2 h4{
        font-size: 1.3rem;
        /* padding: 1rem ; */
    }
    .game_box_2 .box_2 p{
        font-size: 1rem;
        padding: 1rem ;
    }

}

